#field-paramlimite,
#field-paramcs,
#field-paramcmr,
#field-paramtina
{
	width: 3em;
}
#field-paramperiodo,
{
	width: 4em;
}
#field-admloginva,
#field-admclaveva,
#field-admclavecva
{
	width: 10em;
}
#field-pernombreva,
#field-percodigova,
#field-anocodigova, 
#field-anonombreva
{
	width: 6em;
	background-color: rgba(0,0,0,.1);
}
#unod,
#todosd,
#unoi,
#todosi
{
	
	margin: .5em 0;

}
.caja-inscripcion
{
	min-height: 20em;
}