body
{
	background: url(../imagenes/fondo.jpg);
}
#contenido
{
	background-color: #fff;
	border: thin solid #333;
	margin: 1em auto;
	padding: .5em 1em;
	width: 90%;
}
.img-responsive
{
	width:100%;
}
input[type="text"],
input[type="password"],
textarea
{
	min-height: 2em;
}
#carousel-example-generic .carousel-inner .item img,
#carousel-dashboard .carousel-inner .item img
{
	max-height: 35em;
	width: 100%;
}
#carousel-dashboard .carousel-inner .item img
{
	max-height: 30em;
}

.titulo
{
	color: #777;
}
.ui-datepicker-title select.ui-datepicker-year,
.ui-datepicker-title select.ui-datepicker-year option,
.ui-datepicker-title select.ui-datepicker-month,
.ui-datepicker-title select.ui-datepicker-month option
{
	color: #444;
}
.well.col-sm-12 div.row div.col-sm-12 h3
{
	margin-top: .2em;
}